Adding/Removing columns

In [2]:
import pandas as pd
eeffoc = pd.read_csv("./warmup-data/coffee.csv")
bios = pd.read_csv("./data/bios.csv")
eeffoc_new = eeffoc.copy()
eeffoc["price"] = 4.09

Экстремисты (мини проект)

In [ ]:
extr = pd.read_csv("./data/exportfsm.csv", encoding='cp1251', sep=';')
extr_date = extr.copy()
extr_date = extr_date[extr_date["Дата включения (указывается с 01.01.2017)"].isna() == False]
extr_date["Дата включения (указывается с 01.01.2017)"] = pd.to_datetime(extr_date["Дата включения (указывается с 01.01.2017)"], format = "%d.%m.%Y")
for i in range(2017, 2026):
    print(f"В {i} году внесено в список экстр материалов: {len(extr_date[extr_date["Дата включения (указывается с 01.01.2017)"].dt.year == i])}")
#extr_date[extr_date["Дата включения (указывается с 01.01.2017)"].dt.year == 2024]
#display(extr_date[extr_date["Дата включения (указывается с 01.01.2017)"].dt.year == 2025])

a = input("ЧЕ ХОТИТЕ НАЙТИ?: ")
results = extr[extr["Материал"].str.contains(a, case=False)]
results.to_csv("./data/output.csv", index = False)
display(results)
print(f"Всего найдено: {len(results)} экстремистских материала с '{a}' в названии")

В 2017 году внесено в список экстр материалов: 325
В 2018 году внесено в список экстр материалов: 468
В 2019 году внесено в список экстр материалов: 193
В 2020 году внесено в список экстр материалов: 139
В 2021 году внесено в список экстр материалов: 110
В 2022 году внесено в список экстр материалов: 81
В 2023 году внесено в список экстр материалов: 82
В 2024 году внесено в список экстр материалов: 38
В 2025 году внесено в список экстр материалов: 28

,#,Материал,Дата включения (указывается с 01.01.2017)
927,956,Размещенная Байкаловым Никитой Игоревичем в се...,NaN
2001,2030,"Аудиовизуальные материалы – видеоролики, разме...",NaN
2030,2059,Три листовки с рукописным текстом: листовку с ...,NaN
2081,2110,Информационный материал – видеоролик «… (нецен...,NaN
2113,2142,"Видеоролик «Привет, чурки» (решение Ленинского...",NaN
2197,2226,Фотографии: «Родина - Мать Вновь зовет На битв...,NaN
2247,2276,Видеофайлы: «Слава Русскому народу» продолжите...,NaN
2304,2333,"Материалы: «Убей чурку это весело», «Кто за ру...",NaN
2317,2346,"Видео файл под названием «чурки-на.уй)))», сод...",NaN
2526,2555,Следующие текстовые и графические материалы: 1...,NaN
2571,2600,Информационный материал – комментарий «Кавказ ...,NaN
2591,2620,Текст аудиозаписи «СУКА ЧУРКИ Е*АНЫе…. – Убей ...,NaN
2689,2718,Аудио и видеофайлы: - аудио-файл «Ахинея [Алко...,NaN
2703,2732,Размещенные на Интернет-сайтах http://vk.com/r...,NaN
2718,2747,Информационные материалы: описания главной стр...,NaN
2781,2810,Аудиозапись под названием «Андеграунд кома – Ч...,NaN
2788,2817,Текст аудиозаписи «СУКА ЧУРКИ Е*АНЫе…. – Убей ...,NaN
2860,2889,"Графические файлы, размещенные на сайте «https...",NaN
2906,2935,Информационные видеоматериалы (видеоролики): -...,NaN
2941,2970,Виртуальное сообщество с наименованием «Чурки-...,NaN
2945,2974,"Плакат с надписями, представляющий собой комби...",NaN
3185,3215,"Текстовое сообщение, начинающееся с текста «Не...",NaN
3275,3305,Информационные материалы: 1. Изображение девуш...,NaN
3340,3372,"Видеоролик «Чурки прочь из россии», размещенны...",NaN
3383,3415,Изображения с надписями «Знай свое место хач е...,NaN
3393,3425,"Текстово-графическое изображение, размещенное ...",NaN
3440,3472,"Материал, расположенный в сети Интернет на сай...",NaN
3626,3658,"Изображение, на котором изображен ряд мужчин (...",NaN
3643,3675,Фотография девочки с сердитым выражением лица ...,NaN
3665,3697,Аудиофайл Сибирский синдикат – чурки» на сайта...,NaN
3666,3698,Аудиозапись «Русские чурки» на сайтах: http://...,NaN
3672,3704,Изображение четырех лиц с надписью «Чурки вон ...,NaN
3692,3724,Изображения с надписями: «СОХРАНИ КРОВЬ ЧИСТОЙ...,NaN
3952,3985,Текстовая часть идентичных по содержанию и дли...,NaN
3953,3986,Текстовая часть идентичных по содержанию и дли...,NaN
4032,4065,"Фото-файл с изображением мужчины, стоящего нап...",30.03.2017
4146,4179,Аудиокомпозиция «Чурки – «нецензурная лексика»...,25.07.2017
4147,4180,Аудиокомпозиция «Андеграунд кома» – «Чурки «не...,25.07.2017
4457,4490,Музыкальное произведение «Против чурок» (также...,07.08.2018
4557,4590,"Видеоролик, продолжительностью 0 минут 27 секу...",09.11.2018
4583,4616,Информационный материал – видеоматериал «Вот о...,27.11.2018
4702,4735,Видеоролик под названием «Как чурки обращаются...,07.12.2018
5359,5392,Аудиозапись «Гр.ом - ... (ненормативная лексик...,11.10.2023

Всего найдено: 43 экстремистских материала с 'Чурки' в названии

:

Setting columns with a condition

In [9]:
import numpy as np
#eeffoc['new_price'] = np.where(eeffoc["Coffee Type"] == "Espresso", 4.99, 2.99)
eeffoc['new_price'] = np.where(eeffoc['Day'].isin(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]), 3.99, 5.99)

Removing, renaming and combining columns

In [ ]:
eeffoc.drop(columns="price", inplace=True)

eeffoc["revenue"] = eeffoc["Units Sold"] * eeffoc["new_price"]

eeffoc = eeffoc.rename(columns={'new_price':"price"})
eeffoc

          Day Coffee Type  Units Sold  price  revenue
0      Monday    Espresso          25   3.99    99.75
1      Monday       Latte          15   3.99    59.85
2     Tuesday    Espresso          30   3.99   119.70
3     Tuesday       Latte          20   3.99    79.80
4   Wednesday    Espresso          35   3.99   139.65
5   Wednesday       Latte          25   3.99    99.75
6    Thursday    Espresso          40   3.99   159.60
7    Thursday       Latte          30   3.99   119.70
8      Friday    Espresso          45   3.99   179.55
9      Friday       Latte          35   3.99   139.65
10   Saturday    Espresso          45   5.99   269.55
11   Saturday       Latte          35   5.99   209.65
12     Sunday    Espresso          45   5.99   269.55
13     Sunday       Latte          35   5.99   209.65

String operations with data & DT

In [25]:
bios_copy = bios.copy()
bios_copy["first_name"] = bios_copy["name"].str.split(' ').str[0]
bios_copy["born_year"] = bios_copy["born_date"].str[:4]
bios_copy["born_datetime"] = pd.to_datetime(bios_copy["born_date"], format="%Y-%m-%d") #errors='coerce'
bios_copy["born_year"] = bios_copy["born_datetime"].dt.year
bios_copy["born_month"] = bios_copy["born_datetime"].dt.month_name()
display(bios_copy[["athlete_id", "first_name", "born_year", "born_datetime"]])
bios_copy[bios_copy["born_datetime"].dt.is_leap_year]

        athlete_id     first_name  born_year born_datetime
0                1  Jean-François     1886.0    1886-12-12
1                2         Arnaud     1969.0    1969-04-01
2                3           Jean     1898.0    1898-08-13
3                4        Jacques     1895.0    1895-05-11
4                5         Albert     1878.0    1878-04-17
...            ...            ...        ...           ...
145495      149222         Polina     2002.0    2002-01-30
145496      149223       Valeriya     1999.0    1999-09-20
145497      149224         Yuliya     1998.0    1998-05-08
145498      149225          André     1899.0    1899-05-19
145499      149814           Bill     1913.0    1913-07-15

[145500 rows x 4 columns]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,first_name,born_year,born_datetime,born_month
8,9,Marcel Cousin,1896-08-04,Nîmes,Gard,FRA,France,NaN,NaN,1986-08-01,Marcel,1896.0,1896-08-04,August
9,10,Guy de la Chapelle,1868-07-16,Farges-Allichamps,Cher,FRA,France,NaN,NaN,1923-08-27,Guy,1868.0,1868-07-16,July
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN,Jean-Philippe,1968.0,1968-10-16,October
21,22,René Lacoste,1904-07-02,Paris Xe,Paris,FRA,France,NaN,NaN,1996-10-12,René,1904.0,1904-07-02,July
32,33,Stéphane Renault,1968-03-01,Barfleur,Manche,FRA,France,180.0,72.0,NaN,Stéphane,1968.0,1968-03-01,March
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145483,149210,Feng He,2004-03-31,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN,Feng,2004.0,2004-03-31,March
145484,149211,Gao Hongbo,2000-10-20,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN,Gao,2000.0,2000-10-20,October
145485,149212,Radek Houser,1996-07-02,Třebíč,Vysočina,CZE,Czechia,NaN,NaN,NaN,Radek,1996.0,1996-07-02,July
145487,149214,Yekaterina Kosova,1996-04-25,Moskva (Moscow),Moskva,RUS,ROC,NaN,NaN,NaN,Yekaterina,1996.0,1996-04-25,April
145489,149216,Ye Jielong,2000-03-02,NaN,NaN,NaN,People's Republic of China,NaN,NaN,NaN,Ye,2000.0,2000-03-02,March

Saving DataFrame

In [29]:
bios_copy.to_csv("./data/bios_new.csv", index=False)

Add/Remove with LAMBDA & custom FUNCTIONS / ft .apply()

In [33]:
bios["height_category"] = bios["height_cm"].apply(lambda x: "High" if x > 190 else ("Medium" if x > 170 else "Short"))
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_category
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Short
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Medium
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Medium
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Short
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Short

In [ ]:
def categorize_athlete(row):
    if row['height_cm'] < 175:
        return "Short"
    elif row["height_cm"] < 190:
        return "Medium"
    else:
        return "High"
bios["height_cat"] = bios.apply(categorize_athlete, axis=1)  #you should always specify tf youre doing

bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,height_category,height_cat
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,Short,High
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,Medium,Medium
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,Medium,Medium
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,Short,Short
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,Short,High