# **Merging & Concatenating DATA**

In [18]:
import pandas as pd
bios = pd.read_csv("./data/bios.csv")
nocs = pd.read_csv("./data/noc_regions.csv")
results = pd.read_csv("./data/results.csv")

### Мини проект по медианным зарплатам

In [55]:
salaries = pd.read_csv("./data/median-wages.csv", encoding='cp1251', sep=';')
salaries["date"] = pd.to_datetime(salaries["date"], format="%Y-%m-%d")
salaries.sort_values(["date"], inplace=True)
#salaries[(salaries["category"] == "Спорт и досуг") & (salaries["date"].dt.year == 2024)]
categories = salaries["category"].unique()
counter = 1
print("Сферы: ")
for i in categories:
    print(i, end=', ')
    counter += 1
    if counter == 5:
        print()
        counter = 1
print('\n\n')
inp = input("Введите желаемую сферу: ")
exit = False
while not inp in categories and len(inp) != 0:      
    print(f"Не найдено сферы '{inp}'")
    inp = input("Попробуйте ввести по-другому (Enter: остановить программу): ")
if not len(inp) == 0:
    print(f"Средняя медианная зп в сфере {inp}")
    for i in range(2020, 2026):
        df = salaries[(salaries["category"] == inp) & (salaries['date'].dt.year == i)]["value"]
        print(f"В {i} году: {round(sum(df)/len(df))}")

Сферы:
Услуги ЖКХ, Торговля, Обрабатывающие производства, Добыча полезных ископаемых,
Сельское хозяйство, Транспортировка и хранение, Гостиницы и общепит, ИТ и связь,
Финансы и страхование, Операции с недвижимостью, Научная и проф. деятельность, Административная деятельность,
Гос. управление, Образование, Здравоохранение, Спорт и досуг,
Все отрасли, Водоснабжение, Строительство,


Средняя медианная зп в сфере Образование
В 2020 году: 27435
В 2021 году: 30015
В 2022 году: 33909
В 2023 году: 37621
В 2024 году: 44235
В 2025 году: 50482

### Merging

In [ ]:
#display(nocs.head())


bios_new = pd.merge(left=bios, right=nocs, left_on="born_country", right_on="NOC", how='left')
bios_new.rename(columns={"region":"born_country_full"},inplace=True)
bios_new.head()

#print(bios_new.loc[4, :])

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,born_country_full,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN

In [12]:
bios_new[(bios_new["NOC_x"] != bios_new["born_country_full"]) & (~bios_new["born_country_full"].isna())][["name" ,"NOC_x", "born_country_full"]]

                       name                NOC_x born_country_full
4              Albert Canet               France                UK
16               Guy Forget               France           Morocco
37          Helen Aitchison        Great Britain                UK
38        Geraldine Beamish        Great Britain                UK
39             Dora Boothby        Great Britain                UK
...                     ...                  ...               ...
145488         Shakeel John  Trinidad and Tobago          Trinidad
145493   Landysh Falyakhova                  ROC            Russia
145495    Polina Luchnikova                  ROC            Russia
145496  Valeriya Merkusheva                  ROC            Russia
145497      Yuliya Smirnova                  ROC            Russia

[38346 rows x 3 columns]

### Concatinating DFs

In [17]:
usa = bios[bios['born_country'] == "USA"].copy()
rus = bios[bios['born_country'] == "RUS"].copy()
#rus.head()
new_df = pd.concat([usa, rus])
new_df

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
54,55,Monique Javer,1967-07-22,Burlingame,California,USA,Great Britain,177.0,64.0,NaN
960,964,Xóchitl Escobedo,1968-09-17,West Covina,California,USA,Mexico,170.0,60.0,NaN
961,965,Angélica Gavaldón,1973-10-03,El Centro,California,USA,Mexico,160.0,54.0,NaN
1231,1238,Bert Schneider,1897-07-01,Cleveland,Ohio,USA,Canada,NaN,NaN,1986-02-20
1345,1352,Laura Berg,1975-01-06,Santa Fe Springs,California,USA,United States,168.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...
145487,149214,Yekaterina Kosova,1996-04-25,Moskva (Moscow),Moskva,RUS,ROC,NaN,NaN,NaN
145493,149220,Landysh Falyakhova,1998-08-31,Dva Polya Artash,Respublika Tatarstan,RUS,ROC,NaN,NaN,NaN
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN

In [ ]:
combined_df = pd.merge(results, bios, on="athlete_id", how="left")
combined_df

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,NaN,26.0,False,NaN,Marián Skupek,2001-07-12,Gelnica,Košice,SVK,Slovakia,196.0,108.0,NaN
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,NaN,28.0,False,NaN,Elsa Fermbäck,1998-03-28,Vemdalen,Jämtland,SWE,Sweden,NaN,NaN,NaN
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,NaN,Hilma Lövblom,2000-08-16,Täby,Stockholm,SWE,Sweden,NaN,NaN,NaN
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,NaN,NaN,False,NaN,Hilma Lövblom,2000-08-16,Täby,Stockholm,SWE,Sweden,NaN,NaN,NaN
308407,2022.0,Winter,NaN,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,NaN,NaN,24.0,False,NaN,Charlotta Säfvenberg,1994-10-07,Kungsbacka,Halland,SWE,Sweden,NaN,NaN,NaN

: